{% extends 'base.html' %}
{% block content %}

<h1>Actor Details</h1>

<div>
    <div>
        <img src="{{actor.img}}" alt="{{actor.name}}">
        <span>Name: {{ actor.name }}</span>
        <p>Gender: {{ actor.gender }}</p>
        <p>Age: {{ actor.age }}</p>
        <p>Awards: {{ actor.awards }}</p>
        <p>Spouse: {{ actor.spouse }}</p>
        <p>Birth Place: {{ actor.birth_place }}</p>
        <div>
            <a href="{% url 'actors_update' actor.id %}">Edit Actor</a>
            <a href="{% url 'actors_delete' actor.id %}">Delete Actor</a>
        </div>
    </div>
</div>
{% endblock %}