<!-- templates/cattoy_index.html -->
{% extends 'base.html' %}
{% block content %}

<h1>Actors</h1>

{% for actor in actors %}

    <ul class="collection">
        <li class="collection-item avatar">
            <img src="{{actor.img}}" alt="{{actor.name}}" class="circle">
            <br/><br/>
            <span class="title">{{ actor.name }}</span>
                <p>Gender: {{ actor.gender }}</p>   
                <p>Age: {{ actor.age }}</p>
                <p>Awards: {{ actor.awards }}</p>
                <p>Spouse: {{ actor.spouse }}</p>
                <p>Birth Place: {{ actor.birth_place }}</p>
                <a href="{% url 'actors_show' actor.id %}" class="secondary-content">{{ actor.name }} details</a><i class="material-icons"></i></a>
            </li>
{% endfor %}

{% endblock %}