{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div id="homepage">
        <h1>Home</h1>
        <div class="col s6">
        <span class="flow-text">
            <a href="/movies">Movies</a>
        </span>
        </div>
        <div class="col s6">
        <span class="flow-text">
            <a href="/actors">Actors</a>
        </span>
        </div>
    </div>
   <img src="https://www.limitlesswalls.com/cdn-cgi/image/width=900,quality=60/http://llw-magento-images-prod.s3.amazonaws.com/catalog/product/a/d/adobe-46093070.jpg">
</div>


{% endblock %}