{% extends 'base.html' %}
{% block content %}
    <form>
        <div>
            <!-- searches for the name of the cat -->
            <input type="text" name="name" placeholder="name"/>
            <input type="submit" value="Search"/>
        </div>
        <!-- this a tag will redirect back to catlist without a query param! be sure to use the "name" you called the route in your main_app/urls.py -->
<!-- need to add some code for the search bar from django cat_list -->
    </form>
    <h1>Our Movies:</h1>
    {% for movie in movies %}
    <img src="{{movie.img}}" alt="{{movie.title}}">
    <h3>Title: {{movie.title}}</h3>
    <h3>Release Year: {{movie.release_year}}</h3>
    <h3>Genre: {{movie.genre}}</h3>
    {% endfor %}
{% endblock %}