{% extends 'base.html' %} 

{% block content %}

<div>
    <h1>{{movie.title}}</h1>
</div>
<div>
    <img src="{{movie.img}}" alt="{{movie.title}}" />
    <h3>Release Year: {{movie.release_year}}</h3>
    <h3>Genre: {{movie.genre}}</h3>
    <br/><br/>
    <hr>
    <form action="{% url 'like_movie' movie.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit", name="movie_id", value="{{ movie.id }}", class="btn btn-primary btn-sm">Like</button> - {{ total_likes }} Likes
    </form>


    {% for actor in movie.actors.all %}
        <h1>Actor</h1>
        <img src="{{actor.img}}" alt="{{actor.name}}" />
        <div>Name: {{actor.name}}</div>
        <div>Gender: {{actor.gender}}</div>
        <div>Age: {{actor.age}}</div>
        <div>Awards: {{actor.awards}}</div>
        <div>Spouse: {{actor.spouse}}</div>
        <div>Birthplace: {{actor.birth_place}}</div>
    {% empty %}
        <div>sorry no actors listed :/</div>
    {% endfor %}
    <h2>Reviews</h2>
    {% if not movie.reviews.all %}
        No reviews Yet...<a href="{% url 'add_review' movie.pk %}">
        Add Review</a>
        {% else %}
        <a href="{% url 'add_review' movie.pk %}">Add Review </a>
        <br/>
        {% for review in movie.reviews.all %}
            <p>Reviews: {{ review.review_content }}</p>
            <p>Ratings: {{ review.rating }}</p>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}